* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #f5f5f5;
    padding: 40px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

.filters {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

#todoList {
    list-style: none;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    margin-bottom: 10px;

    background: #eee;

    border-radius: 6px;

    transition: 0.3s;
}

.todo-item.completed span {
    text-decoration: line-through;
    opacity: 0.5;
}

.todo-item span {
    flex: 1;
    cursor: pointer;
}

.footer {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
}